<div class="pincodeDiv">
  <input id="checkPincode" type="text">
  <input type="button" value="Check" onclick="checkPincode()">
</div>
<script>
  var pincode = [
    {{settings.pincode_validator | json}}
  ]
  console.log(pincode);
  function checkPincode(){
    var zipCode = document.getElementById('checkPincode').value;
   if(pincode.includes(zipCode)){
     alert('Delivery available');

    }else{
      alert('Delivery not available');
    }
  }
</script>
