<div class="pincodeDiv">
  <input id="checkPin" type="text">
  <input type="button" value="Check" onclick="checkPincode()">
  <p class="checkStatus"></p>
</div>
<script>
  function checkPincode() {
  var pincodes = {{settings.pincode_validator | json}};
  var zipCode = document.getElementById('checkPin').value;
  if (pincodes.includes(parseInt(zipCode))) {
    document.querySelector('.checkStatus').innerHTML = `<span style="color:green;">Delivery available at ${zipCode}</span>`;
    // console.log('Delivery available');
  } else {
    document.querySelector('.checkStatus').innerHTML = `<span style="color:red;">Delivery not available at ${zipCode}</span>`;
    // console.log('Delivery not available');
  }
}
</script>
<style>
  .pincodeDiv {
    display: flex;
  }

  .pincodeDiv input {
    padding: 10px 40px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .pincodeDiv input[type="button"] {
    background-color: #154f76;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 600;
  }

  .pincodeDiv input[type="button"]:hover {
    background-color: #0056b3;
  }

  .checkStatus {
    margin-top: 10px;
  }
</style>
