<div class="pincodeDiv">
  <input id="checkPincode" type="text">
</div>
<script>
  var pincode = [{{settings.pincode_validator}}];
  console.log(pincode);
  function checkPincode(){
    var zipCode = document.getElementById('checkPincode').value;
    if(pincode.includes(parseInt(zipcode)){

    })

  }
</script>
