<div class="pincodeDiv">
  <input id="checkPin" type="text">
  <input type="button" value="Check" onclick="checkPincode()">
  <p class="checkStatus"></p>
</div>
<script>
  var pincodes = [
    {{settings.pincode_validator | json}}
  ]
  console.log(pincodes);
  function checkPincode(){
    var zipCode = document.getElementById('checkPin').value;
  if(pincodes.includes(parseInt(zipCode))){
    &('.checkStatus').html(`<span style="color:green;">Delivery available at ${zipCode}</span>`);
    console.log('Delivery available');

    }else{
      $('.checkStatus').html(`<span style="color:red;">Delivery not available  at ${zipCode}</span>`);
      console.log('Delivery not available');
    }
  }
</script>
