<div class="cstmfield">
  <span class="eta-msg">Check Estimated Delivery Time</span>
  <div class="pincodeDiv">
    <input
      id="checkPin"
      type="text"
      placeholder="Enter Pincode*"
      maxlength="6"
      pattern="[1-9][0-9]{5}"
      onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"
    >
    <input type="button" value="Check" id="checkPincodeButton">
    <p class="checkStatus"></p>
  </div>
  <p class="checkout_error"></p>
</div>
<script>
var checkPincodeButton = document.getElementById('checkPincodeButton');
checkPincodeButton.addEventListener('click', function() {
  var pincodes = {{settings.pincode_validator | json}};
  var zipCode = document.getElementById('checkPin').value;
  if (pincodes.includes(parseInt(zipCode)) && zipCode.length == 6) {
    document.querySelector('.checkStatus').innerHTML = `
    <span class="greenPincode"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 32 32">
<path d="M 16 3 C 8.800781 3 3 8.800781 3 16 C 3 23.199219 8.800781 29 16 29 C 23.199219 29 29 23.199219 29 16 C 29 14.601563 28.8125 13.207031 28.3125 11.90625 L 26.6875 13.5 C 26.886719 14.300781 27 15.101563 27 16 C 27 22.101563 22.101563 27 16 27 C 9.898438 27 5 22.101563 5 16 C 5 9.898438 9.898438 5 16 5 C 19 5 21.695313 6.195313 23.59375 8.09375 L 25 6.6875 C 22.699219 4.386719 19.5 3 16 3 Z M 27.28125 7.28125 L 16 18.5625 L 11.71875 14.28125 L 10.28125 15.71875 L 15.28125 20.71875 L 16 21.40625 L 16.71875 20.71875 L 28.71875 8.71875 Z"></path>
</svg>Delivery available at ${zipCode}</span>`;
    console.log('Delivery available');
    console.log(zipCode.length)
  } else {
    document.querySelector('.checkStatus').innerHTML = `<span class="redPincode"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 32 32">
<path d="M 16 3 C 8.800781 3 3 8.800781 3 16 C 3 23.199219 8.800781 29 16 29 C 23.199219 29 29 23.199219 29 16 C 29 14.601563 28.8125 13.207031 28.3125 11.90625 L 26.6875 13.5 C 26.886719 14.300781 27 15.101563 27 16 C 27 22.101563 22.101563 27 16 27 C 9.898438 27 5 22.101563 5 16 C 5 9.898438 9.898438 5 16 5 C 19 5 21.695313 6.195313 23.59375 8.09375 L 25 6.6875 C 22.699219 4.386719 19.5 3 16 3 Z M 27.28125 7.28125 L 16 18.5625 L 11.71875 14.28125 L 10.28125 15.71875 L 15.28125 20.71875 L 16 21.40625 L 16.71875 20.71875 L 28.71875 8.71875 Z"></path>
</svg>Apologies, we do not currently service at ${zipCode}.</span>`;
    // console.log('Delivery not available');
  }
});
 var validPincode = pincodeValidation(event);
  function pincodeValidation(event) {
  var pinField = document.querySelector('#checkPin').value;
  let count = pinField.replace(/[, ]/g, "").length;
  var pin_regex = /^[1-9][0-9]{5}$/;
  
  if (count === 0) {
    if (event === 'click' || event === 'submit') {
      document.querySelector('#checkPin').closest('.cstmfield').querySelector('.checkout_error').textContent = 'Please Enter Pincode';
    }
    return false;
  } else if (pin_regex.test(pinField) && count === 6) {
    document.querySelector('#checkPin').closest('.cstmfield').querySelector('.checkout_error').textContent = '';
    return true;
  } else {
    document.querySelector('#checkPin').closest('.cstmfield').querySelector('.checkout_error').addEventListener('input', function() {
    var zipCode = this.value;
    if (zipCode.trim() === '') {
      document.querySelector('#checkPin').innerHTML = 'Please Enter a Valid Pincode';
    }
  });
    // document.querySelector('#checkPin').closest('.cstmfield').querySelector('.checkout_error').textContent = 'Invalid Pincode, please enter a valid Pincode';
    return false;
  }
}
document.getElementById('checkPin').addEventListener('keyup', function() {
  pincodeValidation();
});
//  document.getElementById('checkPin').addEventListener('input', function() {
//   var zipCode = this.value;
//   if (zipCode.trim() === '') {
//     document.querySelector('.checkStatus').innerHTML = 'Please Enter a Valid Pincode';
//   }
// });
</script>
<style>
        .pincodeDiv input[type="text"] {
          padding: 10px;
          margin: 5px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }

        .pincodeDiv input[type="button"] {
          background-color: #154f76;
          color: #fff;
          border: none;
          cursor: pointer;
          font-weight: 600;
          padding: 10px 30px;
          margin: 5px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }

        .pincodeDiv input[type="button"]:hover {
          background-color: #0056b3;
        }

        .checkStatus {
          margin-top: 10px;
        }
        span.greenPincode {
          display: flex;
        align-items: flex-start;
        /* text-align: center; */
          color: green;
          /* font-weight: 600; */
          /* font-size: 16px; */
      }
        span.redPincode {
          display: flex;
        align-items: flex-start;
        /* text-align: center; */
          color: red;
          /* font-weight: 600; */
          /* font-size: 16px; */
      }
  span.greenPincode svg {
          fill: green;
        height: 25px;
        width: 25px;
        margin-right: 5px;
    }
    span.redPincode svg {
          fill: red;
        height: 25px;
        width: 25px;
        margin-right: 5px;
    }

  .checkout_error {
      color: red;
      font-size: 14px;
      margin-top: 5px;
    }
</style>
