<div class="pincodeDiv">
  <input id="checkPincode" type="text">
  <input type="button" value="Check" onclick="checkPincode()">
  <p class="checkStatus"></p>
</div>
<script>
  var pincode = [
    {{settings.pincode_validator | json}}
  ]
  console.log(pincode);
  function checkPincode(){
    var zipCode = document.getElementById('checkPincode').value;
   if(pincode.includes(parseInt(zipCode))){
    &('.checkStatus').html('<span style="color:green;">Delivery available</span>');
     console.log('Delivery available');

    }else{
      $('.checkStatus').html('<span style="color:red;">Delivery not available</span>');
      console.log('Delivery not available');
    }
  }
</script>
