<div class="pincodeDiv">
  <input id="checkPin" type="text" placeholder="Enter Pincode*">
  <input type="button" value="Check Estimate Delivery" onclick="checkPincode()">
  <p class="checkStatus"></p>
</div>
<script>
  function checkPincode() {
  var pincodes = {{settings.pincode_validator | json}};
  var zipCode = document.getElementById('checkPin').value;
  if (pincodes.includes(parseInt(zipCode))) {
    document.querySelector('.checkStatus').innerHTML = `<span class="greenPincode">Delivery available at ${zipCode}</span>`;
    // console.log('Delivery available');
  } else {
    document.querySelector('.checkStatus').innerHTML = `<span class="redPincode">Apologies, we do not currently service at ${zipCode}. We will be there soon!</span>`;
    // console.log('Delivery not available');
  }
}
</script>
<style>
    .pincodeDiv input[type="text"] {
      padding: 10px;
      margin: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .pincodeDiv input[type="button"] {
      background-color: #154f76;
      color: #fff;
      border: none;
      cursor: pointer;
      font-weight: 600;
      padding: 10px 40px;
      margin: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .pincodeDiv input[type="button"]:hover {
      background-color: #0056b3;
    }

    .checkStatus {
      margin-top: 10px;
    }
    span.greenPincode {
      color: green;
      font-weight: 600;
      font-size: 16px;
  }
    span.redPincode {
      color: red;
      font-weight: 600;
      font-size: 16px;
  }
</style>
