<div class="mainContainer">
  {% for block in section.blocks %}
    <div class="badgeContainer">
      <img src="{{ block.settings.badgeSVG | image_url }}" height="" width="">
      <p>{{ block.settings.badgeText1 }}</p>
      <p>{{ block.settings.badgeText2 }}</p>
    </div>
  {% endfor %}
</div>
<style>
  .mainContainer{
        display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .badgeContainer{
        margin: 20px;
  }
</style>
{% schema %}
{
  "name": "Custom Section",
  "settings": [
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Badges",
      "settings": [
        {
          "type": "image_picker",
          "id": "badgeSVG",
          "label": "Badge SVG"
        },
        {
          "type": "text",
          "id": "badgeText1",
          "label": "Badge Text 1"
        },
         {
          "type": "text",
          "id": "badgeText2",
          "label": "Badge Text 2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Section"
    }
  ]
}
{% endschema %}
