<div class="main_Container">
  <h2>{{ section.settings.title }}</h2>
  <ol class="faqContainer">
    {% for block in section.blocks %}
      <li class="queContainer">
        {{ block.settings.question -}}
        <span class="changeSign"></span>
      </li>
      <p class="ansContainer">{{ block.settings.answer }}</p>
    {% endfor %}
  </ol>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    var questions = document.querySelectorAll('.queContainer');
    questions.forEach(function(question) {
      question.addEventListener('click', function() {
        this.classList.toggle('active');
      });
    });
  });
</script>
<style>
     .main_Container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #fff;
        justify-content: center;
        width: 100%;
       margin: 0;
       padding: 60px;
    }
  .main_Container h2{ font-size: 24px;}
    .faqContainer{
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;
       margin: 0;
        /* width: 100%; */
    }
    .queContainer{
      cursor: pointer;
      font-size: 24px;
    }
    .ansText, ansContainer{
      margin: 0;
    }

    .changeSign::before {
    content: "+";
  }

  .ansContainer {
    display: none; /* Initially hide question content */
  }

  .queContainer.active .changeSign::before {
    content: "-";
  }

  .queContainer.active .ansContainer {
    display: block; /* Show question content when active */
  }
</style>
{% schema %}
{
  "name": "Custom FAQs Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title"
    }
  ],
  "blocks": [
  {
    "type": "text",
    "name": "FAQ",
    "settings": [
      {
        "type": "text",
        "id": "question",
        "label": "Question"
      },
      {
        "type": "text",
        "id": "answer",
        "label": "Answer"
      }
    ]
  }
],
  "presets": [
    {
      "name": "Custom FAQs Section"
    }
  ]
}
{% endschema %}
