<div>
  {% for block in section.blocks %}
    <div>
      <img src="{{ block.settings.badgeSVG | image_url }}" height="" width="">
    </div>
    <div>
      <p>{{ block.settings.badgeText1 }}</p>
    </div>
    <div>
      <p>{{ block.settings.badgeText1 }}</p>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Custom Section",
  "settings": [
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Badges",
      "settings": [
        {
          "type": "image_picker",
          "id": "badgeSVG",
          "label": "Badge SVG"
        },
         {
          "type": "image_picker",
          "id": "badgeSVG1",
          "label": "Badge SVG1"
        },
        {
          "type": "text",
          "id": "badgeText1",
          "label": "Badge Text 1"
        },
         {
          "type": "text",
          "id": "badgeText2",
          "label": "Badge Text 2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Section"
    }
  ]
}
{% endschema %}
