<div class="main_Container">
  <h2>{{ section.settings.title }}</h2>
  <ol class="faqContainer">
    {% for block in section.blocks %}
      <li class="queContainer">
        {{ block.settings.question -}}
        <span class="changeSign"></span>
      </li>
      <p class="ansContainer">{{ block.settings.answer }}</p>
    {% endfor %}
  </ol>
</div>
<script>
      document.addEventListener("DOMContentLoaded", function() {
      var questions = document.querySelectorAll('.queContainer');
      questions.forEach(function(question) {
      question.addEventListener('click', function() {
        questions.forEach(function(q) {
          if (q !== question && q.classList.contains('active')) {
            q.classList.remove('active');
          }
        });
        this.classList.toggle('active');
      });
    });
  });
</script>

<style>
           .main_Container{
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;
              background-color: #fff;
              justify-content: center;
              /* width: 100%; */
             margin: 0;
             padding: 60px;
          }
        .main_Container h2{ font-size: 28px; font-weight: 600;}
          .faqContainer{
             display: flex;
             flex-direction: column;
             align-items: flex-start;
             justify-content: center;
             margin: 0 auto;
              width: 60%;
          }
          .queContainer{
            cursor: pointer;
            font-size: 24px;
            font-weight: 600 !important;
          font-family: sans-serif;
            color: #817d7d;
            text-align: left;
          }
        .ansContainer{
            margin: 0;
          text-align: left;
           font-size: 24px;
            font-weight: 400 !important;
          font-family: sans-serif;
          /* color: #525252; */
            color: #817d7d;
          }
        .changeSign{
          margin-left: 4px;
          font-weight: bold;
        }

          .changeSign::before {
          content: '\002B';
            /* content: "\12795"; */
            color: #07cf07;
        }

        .ansContainer {
          display: none; /* Initially hide question content */
        }
      .queContainer.active{
         color: #525252;
      }
        .queContainer.active .changeSign::before {
          content: "\2212";
          color: #a37b7b;
        }

        .queContainer.active + .ansContainer {
          display: block;
          text-align: left;
        }
      @media (max-width: 768px) { /* Adjust as needed for your design */
        .faqContainer {
            width: 90%; /* Change width to 90% for smaller screens */
        }
           .main_Container{
             margin: 0;
             padding: 6px;
          }
        .main_Container h2{ font-size: 18px;
        }
        .queContainer,.ansContainer{
      font-size: 18px;
          line-height: 1.3;
  }
    }
</style>
{% schema %}
{
  "name": "Custom FAQs Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title"
    }
  ],
  "blocks": [
  {
    "type": "text",
    "name": "FAQ",
    "settings": [
      {
        "type": "text",
        "id": "question",
        "label": "Question"
      },
      {
        "type": "text",
        "id": "answer",
        "label": "Answer"
      }
    ]
  }
],
  "presets": [
    {
      "name": "Custom FAQs Section"
    }
  ]
}
{% endschema %}
