<div class="main_Container">
  <div>
    <h2>{{ section.settings.title }}</h2>
  </div>
  {% for block in section.blocks %}
    <ol class="faqContainer">
      <li class="queContainer">{{ block.settings.question }}</li>
      <p class="ansContainer">{{ block.settings.answer }}</p>
    </ol>
  {% endfor %}
</div>
<style>
   .main_Container{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: #fff;
      justify-content: center;
      width: 100%;
  }
  .faqContainer{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     margin: 0;
      /* width: 100%; */
  }
  .queContainer{
    cursor: pointer;
  }
  .ansText, ansContainer{
    margin: 0;
  }
</style>
{% schema %}
{
  "name": "Custom FAQs Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title"
    }
  ],
  "blocks": [
  {
    "type": "text",
    "name": "FAQ",
    "settings": [
      {
        "type": "text",
        "id": "question",
        "label": "Question"
      },
      {
        "type": "text",
        "id": "answer",
        "label": "Answer"
      }
    ]
  }
],
  "presets": [
    {
      "name": "Custom FAQs Section"
    }
  ]
}
{% endschema %}
