<div class="mainContainer">
  {% for block in section.blocks %}
    <div class="badgeContainer">
      <div class="imageContainer">
        <img class="badgeImage" src="{{ block.settings.badgeSVG | image_url }}" height="" width="">
      </div>
      <p class="badgeText1">{{ block.settings.badgeText1 }}</p>
      <p class="badgeText2">{{ block.settings.badgeText2 }}</p>
    </div>
  {% endfor %}
</div>
<style>
  .mainContainer{
        display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1C1C1C;
  }
  .imageContainer{
    border: 3px solid #C7A555;
    border-radius: 50%;
    height: 178px;
    display: flex;
    width: 178px;
    align-items: center;
    justify-content: center;
  }
  .badgeContainer{
        margin: 20px;
  }
  .badgeImage{
    height: 65px;
    width: 65px;
  }
  .badgeText1{
    font-size: 27px;
    margin: 0;
    color: #FFFFFF;
  }
  .badgeText2{
    font-size: 18px;
    margin: 0;
    color: #FFFFFF;
  }
</style>
{% schema %}
{
  "name": "Custom Section",
  "settings": [
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Badges",
      "settings": [
        {
          "type": "image_picker",
          "id": "badgeSVG",
          "label": "Badge SVG"
        },
        {
          "type": "text",
          "id": "badgeText1",
          "label": "Badge Text 1"
        },
         {
          "type": "text",
          "id": "badgeText2",
          "label": "Badge Text 2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Section"
    }
  ]
}
{% endschema %}
