{% comment %}
  {% assign linklist = linklists.brands %}
  {% assign collections_per_row = section.settings.frontpage_collections_per_row %}

  <div class="twelve columns collection-list">
    <h1 class="page-title">{{ page.title | escape }}</h1>
    {{ page.content }}

    {% include 'collection-with-in-collection' %}
  </div>
{% endcomment %}
{% schema %}
{
  "name": "Page Collection",
  "settings": [
    {
      "type": "number",
      "id": "frontpage_collections_per_row",
      "label": "Number of Collections Per Row",
      "default": 3
    }
  ],
  "presets": [
    {
      "name": "Page Collection"
    }
  ]
}
{% endschema %}
